block header
  header.container-fluid.fixed-top
      .container
        .row.justify-content-between.align-items-center
          .logo.d-flex.align-items-center
              img.logo__image(src='./assets/img/logo.png')
              span.logo__text Geoportal
          .header-left.d-lg-block
              .inner
                  nav.nav.nav-contacts.align-items-center
                    p.d-flex.align-items-center
                        img(src='./assets/img/ph.png')
                        |8 (066) 222-33-44
                    p.d-flex.align-items-center
                        img(src='./assets/img/time.png')
                        |Пн-Пт 9:00-18:00
                    p.d-flex.align-items-center
                        img(src='./assets/img/mail.png')
                        |order@test.ua
                    p.d-flex.align-items-center
                        img(src='./assets/img/pin.png')
                        |Київ
                  nav.nav.nav-menus.justify-content-between.align-items-center
                      a.nav-menus__link(href='#') ГОЛОВНА
                      a.nav-menus__link(href='#') ПОСЛУГИ
                      a.nav-menus__link(href='#') Про КОМПАНІЮ
                      a.nav-menus__link(href='#') КОНТАКТИ
          #nav-icon3.burger.d-lg-none.d-block
                    span
                    span
                    span
                    span
