section.about
    .container
        .row
            .col-12.col-lg-6.about__info
                p.subtitle.title_gray Про нас
                p.title.title_dark Lorem
                p.title.title_blue Lorem Ipsum
                p.about__text Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset.
            .col-12.col-lg-6
                .d-grid.about__grid
                    .about-item.d-flex.justify-content-center.align-items-center
                        .d-flex
                            img(src='./assets/img/skyline.png')
                            p.d-flex.flex-column.justify-content-between
                                span.count 90
                                span.text Об’єктів
                    .about-item.d-flex.justify-content-center.align-items-center
                        .d-flex
                            img(src='./assets/img/skyline.png')
                            p.d-flex.flex-column.justify-content-between
                                span.count 90
                                span.text Проєктів
                    .about-item.d-flex.justify-content-center.align-items-center
                        .d-flex
                            img(src='./assets/img/skyline.png')
                            p.d-flex.flex-column.justify-content-between
                                span.count 90
                                span.text Ділянок
                    .about-item.about-item_blue.d-flex.justify-content-center.align-items-center
                        .d-flex
                            img(src='./assets/img/skyline.png')
                            p.d-flex.flex-column.justify-content-between
                                span.count 90
                                span.text Конструкцій
